.disable-pointer {
  pointer-events: none;

  .icon {
    pointer-events: none !important;
  }
  
  .icon-exit,
  .icon-upload {
    pointer-events: auto !important;
  }

  .board-container {
    pointer-events: none !important;
  }

  .tools {
    .board-tools-menu {
      pointer-events: none !important;
    }
  }
}


.middle-class {
  .agora-video-view {
    border-right: 1px solid white;
    min-width: 158px;
    min-height: 158px;
    > .student-placeholder {
      flex: 1 1;
      background-color: #DBE2E5;
      justify-content: center;
      box-sizing: border-box;
      background-size: cover;
      width: 100%;
      height: 84%;
      border-radius: 2px;
      box-sizing: border-box;
      position: absolute;
    }

    > .teacher-placeholder {
      flex: 1 1;
      background-color: #DBE2E5;
      justify-content: center;
      box-sizing: border-box;
      background-size: cover;
      width: 100%;
      height: 84%;
      border-radius: 2px;
      box-sizing: border-box;
      position: absolute;
    }
    .video-profile {
      height: 29px;
    }
  }
}
.middle-class {
  .live-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 281px);
    flex: 1;
  }
}

@media screen and (min-width: 1366px) and (min-height: 768px) {
  .classroom {
    min-width: 1366px;
    // min-height: 768px;

    .whiteboard {
      flex: 1;
      // min-height: 720px;
      min-width: 1086px;
    }

    .live-board {
      // min-height: 720px;    
    }

    // TODO: comment for brand resolution
    // .chat-board {
    //   min-height: 559px;
    // }
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .big-class.classroom {
    .chat-board {
      // min-height: 499px;
    }
  }
  .classroom {
    min-width: 990px;
    // min-height: 706px;

    .chat-board {
      // min-height: 340px;
    }

    .whiteboard {
      flex: 1;
      // min-height: 658px;
      // min-width: 710px;
    }
  }
}

.classroom {
  .live-container {
    position: relative;

    .video-container {
      position: absolute;
      margin-left: 10px;
      top: 10px;
      left: 67px;
      display: flex;
      z-index: 5;
    }

    .left-offset {
      left: 67px;
    }
  }
}

.media-board {
  overflow: hidden;
  height: 100%;
}

.interactive {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 3;
  &.student {
    bottom: 10px;
    right: 10px;
  }
  .items {
    display: flex;
    height: 42px;
    width: 42px;
    border-radius: 4px;
    box-sizing: border-box;
    &.hands_up::after {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: ' ';
      background-image: url('../../assets/icon-hand@2x.png');
    }
    &.hands_up_end::after {
      width: 100%;
      height: 100%;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: ' ';
      background-image: url('../../assets/icon-hand-disable.png');
    }
  }
}

.group-card-list {
  height: 420px;
  overflow-y: scroll;
}

.platform-room {
  margin-left: 10px;
}

.countdown-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 260px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border: 1px solid #DBE2E5;
  .countdown {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 25px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    .btn-cancel {
      margin: 10px;
      width: 98px;
      height: 34px;
      background: #FFFFFF;
      border-radius: 18px;
      border: 1px solid #DBE2E5;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #44A2FC;
    }
    .btn-sure {
      margin: 10px;
      width: 98px;
      height: 34px;
      background: #44A2FC;
      border-radius: 18px;
      border: 1px solid #DBE2E5;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
    }
  }
}